.png_crop { 
	filter: expression(
		(runtimeStyle.filter == '') ? runtimeStyle.filter = 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='+currentStyle.backgroundImage.split('\"')[1]+', sizingMethod=crop)' : runtimeStyle.filter,
		runtimeStyle.backgroundImage = 'none');
}

.png_scale { 
	filter: expression(
		(runtimeStyle.filter == '') ? runtimeStyle.filter = 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='+currentStyle.backgroundImage.split('\"')[1]+', sizingMethod=scale)' : runtimeStyle.filter,
		runtimeStyle.backgroundImage = 'none');
}

.png_crop a { position: relative; }

#logo img { height:61px !important;}

#sidebar {width:190px;overflow:hidden;}
#sidebar .networks span small {display:none; overflow:hidden;}

.nav .sf-sub-indicator { display:none; }
.nav li a:hover { text-decoration:none; }
.nav li a.sf-with-ul { padding-right:10px; }